.content {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 670px) {
    .content .side {
      display: none;
    }
  }

@media screen and (max-width: 1005px) {
    .content .right {
      display: none;
    }
  }

@media screen and (min-width: 670px) {
    .header-mobile {
      display: none; 
    }
  }
  
.right {
    right: 0px;
}

.mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

